{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="main-container">
        <div class="navbar">
            <div class="name">GESTURE CONTROLLING SYSTEM</div>
            <div class="user">
                {% if data %}
                <div class="username">{{data.username}}</div>
                {% endif %}
                <div><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
        <div class="second">

            <button><a href="{% url 'handle' %}">Start</a><START</button>

        </div>
    </div>
</body>

</html>